$semiwhite: rgb(255,255,255,0.9);
$palewhite: #EEE;

/* alchemy skin */
$blue: #2289AF;
$alchemybg: #ffb34a;

/* design skin */
$purple: #252230;
$designbg: #AFA5F9;

/* geo skin */
$green: #B7C352;
$geobg: #014258; 
