<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="https://unpkg.com/vue"></script>
    
    <title>Chatrooms!</title>
</head>

<body>
	<main id="app">
		<div class="lightbox" :class="{ hidden: isHidden }">
			<div id="name">
				<h2>What's your name?</h2>
				<input v-model="nickName" type="text">
				<button @click="closeLB">Enter Chatrooms!</button>
			</div>
		</div>

		<div id="skin">
			<p>Change Skin</p>
			<button @click="setDesign" id="design"></button>
			<button @click="setGeo" id="geo"></button>
			<button @click="setAlchemy" id="alchemy"></button>
		</div>
		
		<section class="messages" :class="{ designskin: isDesign, geoskin: isGeo, alchemyskin: isAlchemy }">
			<p id="notification">{{ notification }}</p>
			<ul id="messages" v-for="message in messages">
				<newmessage :msg="message"></newmessage>
			</ul>
		</section>

		<section class="form-container" :class="{ designbg: isDesignBg, geobg: isGeoBg, alchemybg: isAlchemyBg }">
			<form>
				<textarea v-model="message" @keyup.enter="submit" type="text" id="textarea" class="message" autocomplete="off" placeholder="Type something"></textarea>
				<button @click.prevent="dispatchMessage" 
				:class="{ designbtn: isDesignBtn, geobtn: isGeoBtn, alchemybtn: isAlchemyBtn }" 
				type="submit">send</button>
			</form>
		</section>
	</main>
	<script src="/socket.io/socket.io.js"></script>
	<script type="module" src="js/main_vm.js"></script>
</body>

</html>