<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="https://unpkg.com/vue"></script>
    
    <title>My First Chat App</title>
</head>

<body>
	<main id="app">
		<div class="lightbox" :class="{ hidden: isHidden }">
			<div id="name">
				<h2>What's your name?</h2>
				<input v-model="nickName" type="text">
				<button @click="closeLB">Enter chatroom</button>
			</div>
		</div>
		
		<section class="messages">
			<ul id="messages" v-for="message in messages">
				<!-- render a new message component for every message -->
				<newmessage :msg="message"></newmessage>
			</ul>
		</section>

		<section class="form-container">
			<!-- <label for="nickname">Your Nickname (optional)</label> -->
			<!-- <input type="text" id="nickname" class="nickname" placeholder="What is your nickname?"> -->

			<form>
				<textarea v-model="message" type="text" id="textarea" class="message"  autocomplete="off"></textarea>
				<button @click.prevent="dispatchMessage" type="submit">send</button>
			</form>
		</section>
	</main>
	<script src="/socket.io/socket.io.js"></script>
	<script type="module" src="js/main_vm.js"></script>
</body>

</html>