.new-message { 
    span { font-size: 0.8rem; display: block; margin-bottom: 2px; }

    width: auto;
    max-width: 45%;
    padding: 8px 12px;
    background-color: white; 
    border-radius: 8px;
    margin: 10px;

    float:left;
    clear: both;
}

.my-message {
    float: right !important;
    background-color: #555B63;
    color: white;
    animation: 0.1s slidein;
    transition: ease-out;
}

@keyframes slidein {
    from {
        margin-top: 2px;
      }
    
      to {
        margin-top: 0px;
      }
    }